[submodule "stimmung-themes"]
	path = stimmung-themes
	url = https://github.com/motform/stimmung-themes
[submodule "laconia-theme"]
	path = laconia-theme
	url = https://github.com/aartaka/laconia-theme
[submodule "dark-atoll-theme"]
	path = dark-atoll-theme
	url = https://github.com/aartaka/dark-atoll-theme
